/* styles.css */
body {  /*missing curly braces*/
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
}

header { /*wrong spelling of header*/
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

main section {
    margin: 20px;
} /*missing curly braces*/

footer {
    position: absolute;
    bottom: 0; /*missing semi-colon*/
    right: 0;
    width: 100vw;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center; /*missing colon at the middle of text-align and center*/
}
